<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
    
</head>

<body>
    <%- include('./header.ejs') %>
    <form>
        <fieldset class="grupo">
            <div class="componentes-2">
                <h1> Parabéns você está cadastrado!</h1>
                <h2> Seus dados foram recebidos com sucesso!</h2>
            </div>
        </fieldset>
        <div class="botao-ipt">
           
            
            <img src="/public/img/lixeira.png" alt="" width="50px">
        </div>
    </form>
    <%-include('rodape')%>
</body>
</htmml>